body {
  background: #424242;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
}

.head {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url("assets/sw-header.jpg");
  height: 475px;
}

.head h1 {
  margin-left: 5%;
  font-size: 48px;
  color: #F9D203
}

.container {
  margin-top: -3%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.box {
  width: 30%;
  background-color: lightgray;
  height: 650px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.box h2 {
  margin-top: 0px;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
  font-size: 34px;
  color: #F9D203;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  margin-bottom: 0px;
}

.charactersBoxOne{
  background-color:#535556;
  margin-bottom: 0px;
}

.charactersBoxTwo{
  background-color: #748687;
}

.char-box {
  height: 50px;
  width: 100%
}

.char-box:hover {
  cursor: pointer;
}

h3{
  margin-top: 0px;
  margin-left: 15px;
  font-size: 24px;
  color: #ffffff;
  font-family:"Roboto", "Times New Roman";
}

.charTwo h3{
  color: #535556;
}
.charFour h3{
  color: #535556;
}
.charSix h3{
  color: #535556;
}

.char-one{
  background-color:#8E8E8E;
}
.char-two{
  background-color:#E1DEDE;
}
.char-three{
  background-color:#444444;
}
.char-four{
  background-color:#E1DEDE;
}
.char-five{
  background-color:#8E8E8E;
}
.char-ix{
  background-color:#E1DEDE;
}

.arrowLeft{
  border-color: transparent black;
	border-style: solid;
	border-width: 20px 20px 20px 0px;
	height: 0px;
	width: 0px;
}

.arrowLeft:hover {
  cursor: pointer;
}

 .arrows{
   display:flex;
   justify-content: center;
   justify-content: space-evenly;
   align-items: flex-end;
   margin-bottom: 10%;
 }
 .page-number{
   font-size: 30px;
 }

 .arrowRight {
  border-color: transparent black;
	border-style: solid;
	border-width: 20px 0px 20px 20px;
	height: 0px;
	width: 0px;
 }
 .arrowRight:hover {
  cursor: pointer;
}

.details {
  background-color: #8E8E8E;
}

.character {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: #C4C4C4;
  height: 45%;
}

.character h2 {
  margin-left: 5%;
  font-size: 16px;
  color: #0C0C0C;
  font-family: "Roboto", "Times New Roman";
}

.planet {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: #8E8E8E;
}

.planet div {
  margin-top: 5%;
  margin-left: 5%;
  font-size: 16px;
  color: #ffffff;
  font-family: "Roboto", "Times New Roman";
}

.loading {
  display: inline-block;
  width: 80px;
  height: 80px;
  margin-left: 42%;
}
.loading:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: loading 1.2s linear infinite;
}
@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.hide {
  display: none;
}